.container {
  margin: 20rem 0.2rem;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 88%;
  height: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.button {
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #15a8f0;
  margin-right: 0.7rem;
  cursor: pointer;
}

.input {
  border: none;
  position: relative;
  /* top: 0.1rem; */
  outline: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.input::placeholder {
  color: #15a8f0;
  font-weight: 700;
  font-size: 1rem;
}
