.container {
  margin: 20rem 0.2rem;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 17rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 35%;
  height: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.button {
  border: none;
  border-radius: 50%;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  color: white;
  background-color: #15a8f0;
  margin-right: 0.7rem;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 1.5px grey;
  transition-duration: 0.1s;
}

.button:active {
  margin-left: 1px;
  margin-top: 1px;
  box-shadow: none;
}

.input {
  border: none;
  position: fixed;
  left: 20rem;
  outline: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
}

.input::placeholder {
  color: #15a8f0;
  font-weight: 700;
  font-size: 1rem;
}
